ffmpeg.exe
__pycache__/
MA_HDR_Library_Settings.json
MA_HDR_Library_Cache.json
.trae/documents/MAHX项目代码优化计划.md
python_panels/test.pypanel
toolbar/test.shelf
toolbar/Houdini_Shelf_Tool_Trigger_Guide.md
.sisyphus/
.uploads/
toolbar/mahx.shelf
MA_ShelfTools_Pro_Settings.json
MA_ShelfTools_Pro_Cache.json
